<div class="container-sm">
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
            <h3 class="navbar-brand">CLIENTES</h3>

            <ul class="nav">
                <li class="nav-item">
                    <a class="btn btn-sm btn-primary mx-2" href="/pessoa/cadastrar"><i class="fa-solid fa-plus"></i> Novo</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-sm btn-secondary" href="/" ><i class="fa-solid fa-angle-left"></i> Voltar</a>
                </li>
            </ul>
        </div>
    </nav>

    <table class="table table-striped">
        <tr>
            <th class="col-1">CPF</th>
            <th class="col-5">NOME</th>
            <th class="col-2">E-MAIL</th>
            <th class="col-2">TELEFONE</th>

        </tr>
        {{#each pessoas}}
        <tr>
            <td>{{cpf}}</td>
            <td>{{nome}}</td>
            <td>{{email}}</td>
            <td>{{telefone}}</td>
        </tr>
        {{/each}}
    </table>

</div>