<div class="col-md-6 mx-auto shadow p-3">
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
            <h1 class="navbar-brand">Cadastrar Usuários</h1>

            <ul class="nav">
                <li class="nav-item">
                    <a class="btn btn-sm btn-secondary" href="/"><i class="fa-solid fa-angle-left"></i> Voltar</a>
                </li>
            </ul>
        </div>
    </nav>

    <form method="post" action="/usuario/salvar">
        <fieldset>
            
            <label for="">NOME DE USUÁRIO</label>
            <input class="form-control" type="text" name="username">
            <label for="">SENHA</label>
            <input class="form-control" type="password" name="senha">
            <label for="">CATEGORIA</label>
            <select name="categoria" class="form-select">
                <option value="1">ADMIN</option>
                <option value="0">PADRÃO</option>
            </select>
            <label for="">PESSOA</label>
            <select name="pessoa_id" class="form-select">
                {{#each pessoas}}
                <option value="{{id}}">{{nome}}</option>
                {{/each}}
            </select>
            <button class="btn btn-success mt-3" type="submit">SALVAR</button>
        </fieldset>
    </form>
</div>